* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.loading-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.koi-loading {
  width: 100px;
  height: 100px;
  transform-origin: "center";
  animation: koi 2s infinite linear;
}

@keyframes koi {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
